---
// Import the necessary components
import MainLayout from '@/layouts/MainLayout.astro';
import FAQ from '@components/sections/FAQ.astro';
import FeaturesGeneral from '@components/sections/features/FeaturesGeneral.astro';
import FeaturesNavs from '@components/sections/features/FeaturesNavs.astro';
import HeroSection from '@components/sections/landing/HeroSection.astro';
import HeroSectionAlt from '@components/sections/landing/HeroSectionAlt.astro';
import PricingSection from '@components/sections/pricing/PricingSection.astro';
import TestimonialsSection from '@components/sections/testimonials/TestimonialsSection.astro';
import faqs from '@data/faqs.json';
import features from '@data/features.json';
import pricing from '@data/pricing.json';
import src4 from '@images/avatar-1492562080023-ab3db95bfbce.jpeg';
import src2 from '@images/avatar-1531927557220-a9e23c1e4794.jpeg';
import src3 from '@images/avatar-1541101767792-f9b2b1c4f127.jpeg';
import src1 from '@images/avatar-1568602471122-7832951cc4c5.jpeg';
import automation from '@images/blueprints-2.avif';
import dashboard from '@images/dashboard-image.avif';
import tools from '@images/formly-survey-results.jpeg';
import heroImage from '@images/prism-xl.jpeg';

const avatarSrcs: Array<ImageMetadata> = [src4, src3, src2, src1];
---

<MainLayout>
  <HeroSection
    title=`Accelerate Your Projects with <span
        class="text-yellow-500 dark:text-yellow-400">CodeZen</span>`
    subTitle="Top-quality code-automation tools and expert consultation services for every project need."
    primaryBtn="Explore"
    primaryBtnURL="/products"
    secondaryBtn="Contact Sales Team"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of CodeZen product boxes containing assorted software tools"
  />
  <FeaturesNavs
    title=`Customize <span class="text-yellow-500 dark:text-yellow-400">CodeZen</span>'s offerings to perfectly suit your software and automation needs.`
    tabs={[
      {
        heading: 'ML-Free Automation',
        content:
          "Empower your projects with CodeZen's production-grade automation tools without expensive AI subscriptions or massive cloud bills. Experience enhanced efficiency in SDLC with our elegant solutions.",
        svg: 'tools',
        src: tools,
        alt: 'Yellow and black heavy equipment on brown grass field',
        first: true,
      },
      {
        heading: 'Intuitive Dashboards',
        content:
          "Navigate with ease using CodeZen's intuitive dashboards. Set up and oversee your projects seamlessly, with user-friendly interfaces designed for quick and effective workflow management.",
        svg: 'dashboard',
        src: dashboard,
        alt: 'A screenshot or graphic representation of the intuitive dashboard',
        second: true,
      },
      {
        heading: 'Robust Features',
        content:
          "Minimize complexity, maximize productivity. CodeZen's robust features are engineered to streamline your automation process, delivering results that stand out for their excellence.",
        svg: 'house',
        src: automation,
        alt: 'Gray metal building frame near tower crane during daytime',
      },
    ]}
  />

  <FAQ title="Frequently Asked <br /> Questions" faqs={faqs} />

  <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At CodeZen, we ensure a swift start with instant account setup. Experience the speed of automation redefined."
    ;
    testimonials={[
      {
        content:
          'CodeZen dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in software and automation support!',
        author: 'Nitesh Kumar',
        role: 'Chief Operating Officer | GAPL Pvt Ltd.',
        avatarSrc: src4,
      },
    ]}
    statistics={[
      {
        count: '700k+',
        description:
          'lines of code reduced across major software development projects',
      },
      {
        count: '65%',
        description:
          'reduction in project timelines by implementing our generators',
      },
      {
        count: '0 hrs',
        description:
          'time wasted in configuring CRUD servers/persistence & dashboards',
      },
      {
        count: '10x',
        description: 'quicker assembly using intuitive automation solutions',
      },
    ]}
  />

  <!-- <ClientsSection
    title="Trusted by Industry Leaders"
    subTitle="Experience the reliability chosen by industry giants."
  /> -->

  <PricingSection pricing={pricing} />

  <FeaturesGeneral
    title="Meeting Industry Demands"
    subTitle="At CodeZen, we tackle the unique challenges encountered in the software and technological realms. From cutting-edge tools to expert services, we're dedicated to helping you overcome obstacles and achieve your goals."
    features={features}
  />

  <HeroSectionAlt
    title="Let's Collaborate!"
    subTitle="CodeZen is an open-source automation tool, meticulously crafted with state-of-the-art OSS frameworks. Contact us if you would like to contribute or request a feature."
    url="https://github.com/risasvkarna"
  />
</MainLayout>
